tmp
.project
.settings
.classpath
server.pid
iceCurrentsBaseLayer.mov
lib
eclipse
newImages0
newImages1
images
logs
*.mp4
withdate
test-result
application.log
testImage.png
*.jpg
*.png
PreviewImages
tiles
/baseLayer
bin